<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIME API</title>

</head>
<body style="background-color: #008080;">
    <h1 style="text-align: center;">My First API</h1>

    <h2 style="text-align: center;">Hi {{ name }}</h2>

    <p style="text-align: center;">I made this appear with magic (had some help from flask and Chad's teaching)!</p>

    <form action=""></form>
</body>
</html>